:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --color-main: rgba(236, 203, 84, 1);
    --color-primary: rgba(33, 41, 77, 1);
    --color-rodape: rgba(3, 1, 4, 1);
    --color-secundary: rgba(251, 253, 253, 1);
    --color-texto-menor: rgba(51, 50, 50, 1);
}

body {
    position: relative;
}

.container {
    display: block;
    height: 40vh;
    width: auto;
    grid-template-areas: "nav nav nav nav""sidebar main main main"" sidebar content1 content1 content1""sidebar footer footer footer";
    grid-gap: 0.2rem;
    text-align: center;
    position: relative;
}

nav {
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


/*#sidebar {
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
*/

#imgpos,
#avatar {
    position: relative;
    width: 196;
    height: 196px;
}

#content1 {
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}


/*  
nav,
#lua {
    position: absolute;
    scroll-snap-align: center;
    height: 24px;
    background-size: 24px;
    left: 780px;
}*/

.button {
    height: 74px;
    width: 294px;
    border-radius: 10px;
    color: var(--color-main);
    background-color: var(--color-primary);
}

.texto-botão {
    width: 165px;
    height: 34px; 
    top: calc(50% - 34px/2 + 298px);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #ECCB54;
    text-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);


}

#texto-dribbble {
    position: relative;
    bottom: 47px;
    left: 80px;
}

#texto-lkd {
    position: relative;
    bottom: 47px;
    left: 80px;
}


#texto-github {
    position: relative;
    bottom: 47px;
    left: 80px;
}

#texto-insta {
    position: relative;
    bottom: 47px;
    left: 80px;
}

#dribbble-logo {
    color: var(--color-main);
    position: relative;
    width: 38px;
    height: 38px;
    left: -110px;
    top: 15px;
    
}

#linkedin-logo {
    position: relative;
    width: 38px;
    height: 38px;
    left: -110px;
    top: 15px;
}

#github-logo {
    position: relative;
    width: 38px;
    height: 38px;
    left: -110px;
    top: 15px;
}

#instagram-logo {
    position: relative;
    width: 38px;
    height: 38px;
    left: -110px;
    top: 15px;
}

p {
    font-size: 25px;
    font-family: "Poppins";
    font-weight: normal;
}

h1 {
    font-size: 17px;
    font-family: "Poppins";
    font-weight: normal;
}

u {
    position: relative;
    left: 7px;
    bottom: -5px;
}

footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
}

#linkedin {
    bottom: 10px;
}

@media only screen and (max-width: 375px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 4.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "nav""sidebar""main""footer";
        margin-right: auto;
        margin-left: auto;
        top: -30px;
    }

    body {
        position: relative;
        align-items: center;
        height: 100%;
        width: 100%;
        right: 190px;
    }

    #content1 {
        position: relative;
        top: -25px;
    }

    u {
        bottom: -190px;
    }

    main {
        position: relative;
        left: 270px;
        bottom: -25px;
    }

    footer,
    u {
        bottom: -420px;
        left: 265px;
    }
}