:root {
    --main-collor: #ECCB54;
    --light: #FBFDFD;
    --primary-color: #21294D;
    --secundary: #FBFDFD;
    --rodape: #030104;
    --height: 812px;
    --width: 375px;
    --left: 85px;
    --top: 74px;
    --border-radius: 40px;
    --margin:30px;
}

body {
    height: var(--height);
    width: var(--width);
    left: var(--left);
    top: var(--top);
    border: var(--border-radius)
    margin:var(--margin)
}

#lua {
    position: absolute;
    left: 86.4%;
    right: 7.2%;
    top: 3.57%;
    bottom: 93.47%;
}

main{

}

#meuAvatar {
    position: absolute;
    height: 196px;
    width: 196px;
    left: 288px;
    top: 54px;
    border-radius: 0px;
}